.form{
    
    
    width: 35%;
    background-color:black;
}

.logintitle{
    width: 36%;
    margin-top: 25%;
    background-color: aqua;
    border-radius: 8px;
}

.loginsub{
    margin-left: 10%;
    color: azure;
}

.loginspan{
    display: block;
    color: azure;
    margin-left: 2%;
}
.logininput{
   
    background-color: azure;
    border: 0ch;
}
.a{
    color: aqua;
}
.formloguin{
    margin-left: 50%;
}