:root{
    
    background-color: #212529;
}

.div{
    background-color: #212529;
}

.title{
    
    margin-top: 1%;
    justify-content: center;
    border-radius: 20px;
   
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 70px;
    display: flex   ;
    background-color: aqua;
}
.center{
    align-self: center;


}
.button{

    width: 100%;
    border: 0ch;
    border-radius: 8px;
    margin-top: 2%;
    display: block;
    transition: 1s;
}
.button:hover{
    background-color: aqua;
}

.input{
    margin-left: 15%;
    background-color: #ced0d4;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    width: 70%;
    border: 0ch;
    border-radius: 4px;
    margin-top: 0.5%;
    display: block;
    max-height: 22ch;
}
.textarea{
    margin-left: 15%;
    background-color: #ced0d4;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    padding-bottom: 300px;
    font-size: 30px;
    width: 70%;
    border: 0ch;
    border-radius: 4px;
    margin-top: 0.5%;
    display: block;
   
}


.form{
    width: 100%;
    border-radius: 10px;
    padding-bottom: 5rem;
    background-color: #adacac;
}

.link{
    background-color: aqua;
}

.spantitle{
    background-color: aliceblue;
    padding-right: 20px;
    padding-right: 20px;
    border-radius: 4px;
    
    margin-left: 15%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    
    
}

.sendBtn{
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    border: 0ch;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
    margin-left: 45%;
    background-color: aqua;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sendBtn:hover{
    background-color: aliceblue;
    zoom: 1.1;
}